/*heights and width*/

.h-screen {
  height: 100vh;
}
.w-400 {
  width: 400px;
}
input,
select {
  height: 40px;
  border: 2px solid gray;
  width: 100%;
  padding-left: 20px;
}
.ant-form-item {
  margin: 0px !important;
}
.card {
  border: 2px solid gray;
  box-shadow: 0 0 1px rgb(174, 173, 173);
  border-radius: 0 !important;
}
.text-2xl {
  font-size: 30px !important;
}
.text-xl {
  font-size: 25px !important;
}
.text-lg {
  font-size: 20px !important;
}
.text-md {
  font-size: 18px !important;
}
.secondary-text {
  color: var(--secondary) !important;
}
.primary-text {
  color: var(--primary) !important;
}
.underline {
  text-decoration: underline;
  cursor: pointer;
}
/*buttons*/

.primary-btn {
  background-color: var(--primary) !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.secondary-btn {
  background-color: var(--secondary) !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.outline {
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
  background-color: white !important;
}
.disabled-btn {
  background-color: gray !important;
  color: white;
  border: none !important;
  border-radius: 0px !important;
  padding: 10px 20px;
  cursor: not-allowed;
}
button {
  border-radius: 0px !important;
}
/*anchor tag */
a {
  text-decoration: none;
  color: var(--primary);
}
i {
  cursor: pointer;
  font-size: 25px;
}
h1,
p {
  padding-bottom: 1px !important;
}
/*spinner*/
.spinner-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 10000;
}
.spinner-border {
  color: white !important;
  height: 80px !important;
  width: 80px !important;
}
table {
  margin-left: -5px !important;
  margin-top: 7px !important;
  border: 1px solid rgb(185, 185, 185) !important;
}
